.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-regular {
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
:root{
    --cor-primaria: #59331D; /*fundo*/
    --cor-segundaria: #CB9263; /*fundo*/
    --cor-terciaria: #AF603F; /*fundo*/
    --cor-branca: #f0f8ff;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Courier Prime";
    color: var(--cor-branca);
}

body{
    background-color: #59331D;
}

.titulo{
    text-align: center;
    font-size: 48px;
    margin: 40px 0 10px;
    font-family: "Pirata One";
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    margin-inline: 8px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

.imagem-perfil{
    border-radius: 50%;
    width: 200px;
    display: block;
    margin: 40px auto;
    display: block;
}

main{
    text-align: center;
}

